{% extends 'admin/baseAdmin.html.twig' %}
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('styles/admin/theme/index.css')}}">
{% endblock %}
{% block RightPage %}
<a href="{{ path('editor_index') }}" class="btn btn-secondary">Retour</a>
    <h1>Ajouter un éditeur</h1>

    {{ include('admin/editor/_form.html.twig') }}

    
{% endblock %}
