@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Wet+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --background-color: #C3B796;
    --second-color: #96a2c3;
    --main-color: #96C3A1;

    /* fonts */
    --primary-font: "Courier Prime", monospace;
    --title-font: "Nunito", sans-serif;

    /* Nav menu */
    --top-burger: 20px;
    --logo-width: 60px;
    --logo-mini: 30px;
    --menu-height: 40px;
}

.body {
    background-color: var(--background-color);
}

h1 {
    font-family: var(--title-font);
}

.btn {
    margin: 5px;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    border-style: none;
    font-weight: bold;
    font-size: 1rem;
    border-radius: .25rem;
    padding: .375rem .75rem;
    border: 1px solid transparent;
}

.btn-primary {
    border-color: #0b5ed7;
    background-color: #0b5ed7;
    color : white;
}

.alert {
    text-align: center;
    padding: 3px 5px;
    margin: 10px auto;
}

.alert-danger {
    color: white;
    background-color: red;

}