@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Wet+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    /* colors */
    --background-color: #C3B796;
    --second-color: #96a2c3;
    --main-color: #96C3A1;

    /* fonts */
    --primary-font: "Courier Prime", monospace;
    --title-font: "Nunito", sans-serif;

    /* Nav menu */
    --top-burger: 20px;
    --logo-width: 60px;
    --logo-mini: 30px;
    --menu-height: 40px;
}

.body {
    background-color: var(--background-color);
}

h1 {
    font-family: var(--title-font);
}

.btn {
    margin: 5px;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    border-style: none;
    font-weight: bold;
    font-size: 1rem;
    font-family: var(--primary-font);
    border-radius: .25rem;
    padding: .375rem .75rem;
    border: 1px solid transparent;
}

.btn-primary {
    border-color: #0b5ed7;
    background-color: #0b5ed7;
    color : white;
}

.btn-secondary {
    border-color: #32ae04;
    background-color: #32ae04;
    color : white;
}

.btn-warning {
    border-color: #d82424;
    background-color: #d82424;
    color : white;
}
.flash-notice {
    border: 1px solid transparent;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.25rem;
}

.flash-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.flash-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.flash-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert {
    text-align: center;
    padding: 3px 5px;
    margin: 10px auto;
}

.alert-danger {
    color: white;
    background-color: red;

}

@media  screen and (max-width: 768px) {
    .btn {
        font-size: 0.5rem;
        padding: .225rem .50rem;
    }
}