h1 {
    text-align: center;
}

.user-container {
    margin-left: 5px;
}

.infos-container {
    font-family: var(--primary-font);
}

.user-info {
    font-family: var(--title-font);
}

.edit-avatar-container {
    max-width: fit-content;
    position : relative;
    margin: 5px 0 5px 10px;
}

.edit-avatar-image {
    width: 100px;
    height: auto;
}

.avatar-field {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.error-field {
    margin: 5px;
    padding: 5px;
    border: solid 1px red;
    max-width: max-content;
}

.error-field ul {
    color :red;
}

.pass-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .pass-main-container {
        font-size: 0.8rem;
    }
}