<div class="comment-container">
<p class="line">livre : <span class="comment-data">{{ book }}</span></p>
<p class="line">commentaire :<br>
<span class="comment-data comment-content">
{{ comment }}
</span>
</p>

</div>